<div class="home-page">
  <div class="banner">
    <h1>AT Blogs</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle clear">
          <nav class="nav-feed">
            <ul class="feed-list">
              <li class="feed-item">
                <a href="">
                  global feed
                </a>  
              </li>
              <li class="feed-item">
                <a href="">
                  Ruby on Rails
                </a>
              </li>
              <li class="feed-item">
                <a href="">
                  Angular
                </a>
              </li>
              <li class="feed-item">
                <a href="">
                  React
                </a>
              </li>
            </ul>
          </nav>
        </div>
        

        
        <ul class="pagination">
          <li>
            <a href="">
              <i aria-hidden="true" class="fa fa-angle-left"></i>
            </a>
          </li>
          <li>
            <a href="">
              <span>1</span>
            </a>
          </li>
          <li><span>2</span></li>
          <li><span>...</span></li>
          <li><span>9</span></li>
          <li><span>10</span></li>
          <li>
            <a href="">
              <i aria-hidden="true" class="fa fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div>
      <aside class="col-md-3 sidebar">
        <div class="favorite-article">
          <p>Favorite Articles</p>
          <div class="article-list">
            <a href="">
              <p class="name"></p>
              <p class="description"></p>
            </a>
          </div>
        </div>
        <div class="popular-tag">
          <p>popular tags</p>
          <div class="tag-list">
            <a href="" class="tag-default tag-pill"></a>
            <a href="" class="tag-default tag-pill"></a>
            <a href="" class="tag-default tag-pill"></a>
            <a href="" class="tag-default tag-pill"></a>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>