<div id="home-page">
  <div class="container">
    <div class="banner">
      <h1>AT BLogs</h1>
    </div>
    <app-category></app-category>
    <div class="row">
      <div class="col-md-9 main-content">
        <app-article></app-article>
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="disabled">
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li class="active"><a href="#">4</a></li>
            <li class="active"><a href="#">5</a></li>
            <li class="active">
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <aside class="col-md-3 sidebar">
        <div class="favorite-article">
          <div class="panel panel-default">
            <div class="panel-heading">Favorite Article</div>
            <div class="panel-body">
              
            </div>
          </div>
        </div>
        <div class="popular-tag">
          <div class="panel panel-default">
            <div class="panel-heading">Popular Tag</div>
            <div class="panel-body"></div>
          </div>
        </div>   
      </aside>
    </div>
  </div>
</div>