<div id="home-page">
  <div class="container">
    <div class="banner">
      <h1>AT BLogs</h1>
    </div>
    <app-category></app-category>
    <div class="row">
      <div class="col-md-9 main-content">
        <app-article></app-article>
        <app-pagination></app-pagination>
      </div>
      <aside class="col-md-3 sidebar">
        <div class="favorite-article">
          <div class="panel panel-default">
            <div class="panel-heading">Favorite Article</div>
            <div class="panel-body">
              
            </div>
          </div>
        </div>
        <div class="popular-tag">
          <div class="panel panel-default">
            <div class="panel-heading">Popular Tag</div>
            <div class="panel-body"></div>
          </div>
        </div>   
      </aside>
    </div>
  </div>
</div>