.clear {
  clear: both;
}
h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #bfac8a;
  text-align: center;
  padding: 35px 0;
}
a {
  text-decoration: none;
}
.feed-toggle {
  margin-bottom: 10px;
}
.nav-feed {
  text-transform: uppercase;
}
.feed-item {
  list-style: none;
  float: left;
  margin-right: 50px;
}
