.article-detail-page {
  .article-name {
    text-align: center;
    font-style: italic;
    margin-top: 0;
  }
  .article-info {
    text-align: center;
    color: #9d9d9d;
    .author-name {
      font-style: italic;
      text-transform: capitalize;
    }
  }
  .article-image {
    width: 50%;
    height: 50%;
    margin: 15px auto;
  }
  .article-content {
    text-indent: 20px;
    margin: 15px 0 30px;
  }
  .btn-like {
    float: left;
  }
  .user-btn {
    float: right;
  }
  .btn-user {
    padding: 6px 20px;
    border-color: $color-a;
    background-color: #fff;
  }
  .btn-edit {
    margin-right: 10px;
  }
  .article-tags {
    padding: 10px 20px;
    margin-right: 10px;
    margin: 30px 0;
    display: flex;
    background: #f6f6f6;
    border: 1px solid $color-border;
    span {
      text-transform: uppercase;
      margin-right: 5px;
    }
  }
  .author {
    margin-bottom: 90px;
  }
  .social-icons.team-icons {
    bottom: -85px;
  }
  .team-grid {
    &:hover {
      .social-icons.team-icons {
        bottom: -75px;
      }
    }
  }
  .ih-item.circle.effect1 {  
    .spinner {
      border-right-color: $color-b;
      border-bottom-color: $color-b;
    }
    .img {
      img {
        height: 100%;
      }
    }
    .info-back {
      h4 {
        padding: 73px 0 8px;
      }
      a {
        color: $color-d;
      }
    }
  }
  .form-comment {
    margin-bottom: 10px;
    .btn-post {
      padding: 11px 23px;
      float: right;
      background-color: $color-b;
      border-color: $color-b;
    }
  }
  .comment-item {
    border: 1px solid $color-border;
    border-radius: 3px;
    margin-bottom: 15px;
    .comment-content {
      padding: 15px;
      margin: 0;
      word-wrap: break-word;
    }
    .comment-footer {
      border-top: 1px solid $color-border;
      background-color: #f3f3f3;
      padding: 10px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      .comment-author {
        color: $color-b;
        text-transform: capitalize;
        margin-right: 5px;
      }
      .date-comment {
        font-size: 12px;
      }
      .comment-btn {
        float: right;
      }
      .btn-comment-custom {
        border: none;
        background: transparent;
      }
      .btn-delete-cmt {
        margin-left: 15px;
      }
    }
  }
  .edit-comment-block {
    margin: 0;
  }
}