<div class="signup-page">
  <div class="container">
    <h1>Sign Up</h1>
    <a href="">Have an account ?</a>
    <div class="row">
      <div class="col-md-6">
        <div [hidden]="submitted">
          <form [formGroup]="newUserForm" (ngSubmit)="submit()">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <input type="text" name="firstname" class="form-control input-lg" placeholder="Firstname" formControlName="first_name">
                  <span class="error-msg text-danger">
                   Firstname is required (maximum 10 characters) !
                  </span>
                </div> 
              </div>
              <div class="col-md-7">
                <div class="form-group">
                  <input type="text" name="lastname" class="form-control input-lg" placeholder="Lastname" formControlName="last_name">
                  <span class="error-msg text-danger">
                  Lastname is required (maximum 20 characters) !
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control input-lg" placeholder="Email" formControlName="email">
              <span class="error-msg text-danger">
               Email is required !
              </span>
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control input-lg" placeholder="Password" formControlName="password">
              <span class="error-msg text-danger">
               Password is required (minimum 8 characters) !
              </span>
            </div>
            <div class="form-group">
              <input type="date" name="birthday" class="form-control input-lg" placeholder="Birthday" formControlName="birthday">
              <span class="error-msg text-danger">
               Birthday is required !
              </span>
            </div>
            <div class="form-group">
              <label class="radio-inline input-lg"><input type="radio" value="female" name="sex" formControlName="sex">Female</label>
              <label class="radio-inline input-lg"><input type="radio" value="male" name="sex" formControlName="sex">Male</label>
              <span class="error-msg text-danger">
               Gender is required !
              </span>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-lg btn-primary" [disabled]="!newUserForm.valid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>