<div class="form-article">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <form [formGroup]="articleForm" (ngSubmit)="submit()">
        <div class="form-group">
          <select class="form-control select-custom" formControlName="category_id">
            <option value="" selected disabled>Please choose category</option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" name="article_title" class="form-control input-lg" placeholder="Article Title" formControlName="name">
        </div>
        <div class="form-group">
          <div [froalaEditor] formControlName="detail"></div>
        </div>
        <div class="form-group">
          <input type="text" name="tags" class="form-control" placeholder="Enter tags" formControlName="tag">
        </div>
        <img [src]="imageSrc" class="article-picture"> 
        <div class="form-group">
          <input type="file" name="file" accept="image/*"
          (change)="handleInputChange($event)">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-lg btn-primary btn-form-article" [disabled]="!articleForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
