<div class="search-page">
  <div class="container">
    <h1>#{{tagName}}</h1>
    <div class="col-md-9 main-content">
      <div class="article" *ngIf="articles == undefined; else elseBlock" >
        No articles yet....
      </div>
      <ng-template #elseBlock>
        <div class="article">
          <app-article *ngFor="let article of articles" [item]="article"></app-article>
        </div>
      </ng-template>
  </div>
  <aside class="col-md-3 sidebar">
    <app-favorite-article></app-favorite-article>
    <app-popular-tag></app-popular-tag> 
  </aside>
</div>