<div class="article-detail-page">
  <div class="container">
    <app-category></app-category>
    <div class="col-md-9 main-content">
      <h2 class="article-name">You create your opportunities by asking for them.</h2>
      <div class="article-info">
        <span> By <a href="" class="author-name"> Trang Nguyen </a> <span class="date">07/05/2017</span></span>
      </div>
      <div class="article-detail">
        <div class="article-image">
          <img src="/assets/images/image1.jpg">
        </div>
        <div class="article-content">
          <p>
            Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna vel.
            Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna vel.
            Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna vel.
            Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna vel.
            Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna vel.
            Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna vel.
          </p>
        </div>
      </div>
      <div class="share-post clearfix">
        <app-btn-like class="btn-like"></app-btn-like>
        <ul>
          <li>
            <a href="" class="btn btn-block btn-social btn-facebook">
              <i class="fa fa-facebook fa-btn-share"></i>
              Share on your Facebook
            </a>
          </li>
          <li>
            <a href="" class="btn btn-block btn-social btn-twitter">
              <i class="fa fa-twitter fa-btn-share"></i>
              Share on your Twitter
            </a>
          </li>
          <li>
            <a href="" class="btn btn-block btn-social btn-google">
              <i class="fa fa-google fa-btn-share"></i>
              Share on your Google
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 sidebar">
      <div class="author">
        <div class="div-label">
          <span>About Author</span>
        </div>
        <div class="div-content team-grid">
          <div class="ih-item circle effect1">
              <div class="spinner"></div>
              <div class="img"><img src="/assets/images/t1.jpg" alt=" " class="img-responsive" /></div>
              <div class="info">
                <div class="info-back">
                  <h4>Trang NT.</h4>
                  <p>10/11/1994</p>
                </div>
              </div>
            </div>
            <app-btn-follow></app-btn-follow>
            <div class="social-icons team-icons">
              <ul>
                <li><a href="#" class="fa fa-facebook"> </a></li>
                <li><a href="#" class="fa fa-twitter"> </a></li>
                <li><a href="#" class="fa fa-google"> </a></li>
              </ul>
            </div> 
        </div>
      </div>
      <app-favorite-article></app-favorite-article>
      <app-popular-tag></app-popular-tag>
    </div>
  </div>
</div>