<div class="article-detail-page" *ngIf="article">
  <div class="container">
    <app-category></app-category>
    <div class="col-md-9 main-content">
      <h2 class="article-name">{{article.name}}</h2>
      <div class="article-info">
        <span> By <a href="" class="author-name"> {{article.user.fullname}} </a> <span class="date">{{article.created_at}}</span></span>
      </div>
      <div class="article-detail">
        <div class="article-image">
          <img src="/assets/images/image1.jpg">
        </div>
        <div class="article-content">
          <p>
           {{article.detail}}
          </p>
        </div>
      </div>
      <div class="share-post clearfix">
        <button class="btn btn-like">
          <span class="glyphicon glyphicon-heart glyphicon-heart-custom"></span>
          <span class="like-account">{{article.favorites_count}}</span>
        </button>
        <div class="user-btn">
          <a routerLink="/edit-profile" routerLinkActive="active" class="btn btn-edit btn-user">
            <span class="glyphicon glyphicon-pencil"></span>
            <span> Edit Article</span>
          </a>
          <button class="btn btn-delete btn-user">
            <span class="glyphicon glyphicon-trash"></span>
            <span> Delete Article</span>
          </button>
        </div>
      </div>
      <div class="article-tags">
        <span>tags: </span>
        <div class="tags-list" *ngFor="let item of article.tags">
          <a href="" class="badge badge-pill badge-default">{{item.name}}</a>
        </div>
      </div>
      <div class="comment">
        <div class="title">Comments</div>
        <div class="form-comment">
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="Write your comment" ></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-post">Post</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3 sidebar">
      <div class="author">
        <div class="title">
          <span>About Author</span>
        </div>
        <div class="div-content team-grid">
          <div class="ih-item circle effect1">
              <div class="spinner"></div>
              <div class="img"><img src="/assets/images/t1.jpg" alt=" " class="img-responsive" /></div>
              <div class="info">
                <div class="info-back">
                  <h4>Trang NT.</h4>
                  <p>10/11/1994</p>
                </div>
              </div>
            </div>
            <app-btn-follow></app-btn-follow>
            <div class="social-icons team-icons">
              <ul>
                <li><a href="#" class="fa fa-facebook"> </a></li>
                <li><a href="#" class="fa fa-twitter"> </a></li>
                <li><a href="#" class="fa fa-google"> </a></li>
              </ul>
            </div> 
        </div>
      </div>
      <app-favorite-article></app-favorite-article>
      <app-popular-tag></app-popular-tag>
    </div>
  </div>
</div>