.btn-like {
  background: transparent;
  border: 1px solid $color-b;
  &:hover {
    background: $color-b;
   .glyphicon-heart-custom {
    color: $color-d;
    }
  }
  .glyphicon-heart-custom {
    color: #f00;
  }
}