.follow-btn {
  margin-top: 15px;
  border-color: $color-b;
  &:hover {
  	background: $color-b;
  	color: $color-d;
  	.glyphicon-custom {
  		color: $color-d;
  	}
  }
}
.glyphicon-custom {
  padding-left: 2px;
  padding-right: 0;
  color: $color-b;
}