.btn-like {
  .btn {
    background: none;
    border: 2px solid #d8d8d8;
    &:hover {
      background: $color-b;
      border-color: $color-b;
     .glyphicon-heart {
      color: $color-d;
     }
    }
  }
  .glyphicon-heart {
    color: #f00;
  }
}