.category {
  border-top: 4px double $color-border;
  border-bottom: 4px double $color-border;
  margin: 20px 0;
}
.category-list {
  text-align: center;
}
.category-item {
  height: 49px;
  display: inline-block;
  font-family: 'Conv_Cookie-Regular';
  font-size: 25px;
  line-height: 0.8;
  margin: 0 40px;
  padding: 20px 0;
}