.favorite-article {
  margin-bottom: 30px;
  .div-label {
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    height: 40px;
    padding: 7px;
    border-top: 4px double $color-border;
    border-bottom: 4px double $color-border;
    text-align: center;
    margin-bottom: 10px;
  }
  li {
    margin-bottom: 5px;
  }
  .div-content {
    .item-thumbnail {
      float: left;
      width: 28%;
      margin: 0px 5px 5px 0px;
    	img {
        height: 72px;
        width: 72px;
    	}
    }
    .item-title {
      float: left;
      width: 70%;
      font-weight: bold;
    }
  }
}