a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.container {
  clear: both;
}
.logo-header {
  float: left;
  margin-right: 30px;
}
.logo-header img {
  display: inline-block;
  vertical-align: middle;
}
.form-group {
  float: left;
  padding-top: 10px;
}
.nav li {
  text-transform: capitalize;
}