<div class="favorite-article">
  <div class="div-label">
    <span> Top Articles</span>
  </div>
  <div class="div-content">
    <ul>
      <li class="clearfix">
        <div class="item-thumbnail">
          <a href="">
            <img src="/assets/images/image1.jpg">
          </a>
        </div>
        <div class="item-title">
          <a href="">
            You create your opportunities by asking for them.
          </a>
        </div>
      </li>
      <li class="clearfix">
        <div class="item-thumbnail">
          <a href="">
            <img src="/assets/images/image3.jpg">
          </a>
        </div>
        <div class="item-title">
          <a href="">
            You create your opportunities by asking for them.
          </a>
        </div>
      </li>
      <li class="clearfix">
        <div class="item-thumbnail">
          <a href="">
            <img src="/assets/images/image2.jpg">
          </a>
        </div>
        <div class="item-title">
          <a href="">
            You create your opportunities by asking for them.
          </a>
        </div>
      </li>
      <li class="clearfix">
        <div class="item-thumbnail">
          <a href="">
            <img src="/assets/images/image4.jpg">
          </a>
        </div>
        <div class="item-title">
          <a href="">
            You create your opportunities by asking for them.
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>