<div class="favorite-article">
  <div class="title">
    <span> Top Articles</span>
  </div>
  <div class="content">
    <ul class="favorite-article-list">
      <li class="favorite-article-item clearfix">
        <div class="item-thumbnail item-thumbnail-custom">
          <a href="">
            <img src="/assets/images/image1.jpg">
          </a>
        </div>
        <div class="item-title">
          <a href="">
            You create your opportunities by asking for them.
          </a>
        </div>
      </li>
      <li class="favorite-article-item clearfix">
        <div class="item-thumbnail item-thumbnail-custom">
          <a href="">
            <img src="/assets/images/image3.jpg">
          </a>
        </div>
        <div class="item-title">
          <a href="">
            You create your opportunities by asking for them.
          </a>
        </div>
      </li>
      <li class="favorite-article-item clearfix">
        <div class="item-thumbnail item-thumbnail-custom">
          <a href="">
            <img src="/assets/images/image2.jpg">
          </a>
        </div>
        <div class="item-title">
          <a href="">
            You create your opportunities by asking for them.
          </a>
        </div>
      </li>
      <li class="favorite-article-item clearfix">
        <div class="item-thumbnail item-thumbnail-custom">
          <a href="">
            <img src="/assets/images/image4.jpg">
          </a>
        </div>
        <div class="item-title">
          <a href="">
            You create your opportunities by asking for them.
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>