<div class="profile">
  <div class="user-info clearfix">
    <div class="container user-info-padding">
      <div class="row">
        <div class="col-md-8">
          <h2>Trang Nguyen T.</h2>
          <a routerLink="/edit-profile" routerLinkActive="active" class="btn btn-edit">
            <span class="glyphicon glyphicon-cog"></span>
            <span> Edit Profile</span>
          </a>
        </div>
        <div class="col-md-4 avatar">
          <img src="./assets/images/t1.jpg">
        </div>
        
      </div>
    </div>
  </div>
  <div class="container">
    <app-article></app-article>
    <app-pagination></app-pagination>
  </div> 
</div>