<div class="form-article">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <form [formGroup]="articleForm" (ngSubmit)="submit()">
        <div class="form-group">
          <select class="form-control select-custom" formControlName="category_id">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" name="article_title" class="form-control input-lg" placeholder="Article Title" formControlName="name">
        </div>
        <div class="form-group">
          <textarea name="detail" class="form-control" rows="10" placeholder="Write your article" formControlName="detail"></textarea>
        </div>
        <div class="form-group">
          <input type="text" name="tags" class="form-control" placeholder="Enter tags" formControlName="tag">
        </div>
        <div class="form-group">
          <input type="file" name="image" class="form-control-file" accept="image/x-png,image/gif,image/jpeg" aria-describedby="fileHelp" (change)="fileChange($event)">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-lg btn-primary btn-form-article">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
